<%= form_with url: calories_path, method: :get do |form| %>
  <div class="d-flex">
    <div class="d-flex flex-column w-100 search me-2">
      <div class="d-flex">
        <%= form.text_field :query, class:"form-control mb-4", placeholder:"Comment" %>
      </div>
      <div class="d-flex">
        <div class="input-group mb-4">
          <span class="input-group-text" id="basic-addon1">Minimum date:</span>
          <%= form.date_field :min_date, min: @first_log, max: @last_log, class:"form-control" %>
        </div>
      </div>
      <div class="d-flex">
        <div class="input-group mb-4">
          <span class="input-group-text" id="basic-addon1">Maximum date:</span>
          <%= form.date_field :max_date, min: @first_log, max: @last_log, class:"form-control" %>
        </div>
      </div>
    </div>
    <%= form.submit "Search", class: "btn btn-primary mb-4 align-self-center" %>
  </div>
<% end %>
