<% provide(:title, 'Chart') %>
<div class="p-5 mb-4 bg-light rounded-3">
  <div>
    <div class="d-flex mb-4">
      <div class="me-3"><%= gravatar_for @user %></div>
      <% if user_signed_in? %>
        <h1 class="align-self-center">Logs chart</h1>
      <% else %>
        <h1 class="align-self-center"><%= @user.firstname + ' ' + @user.lastname %>: Last 30 days chart</h1>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= render "chart_query" %>
    <% end %>
    <div class="mb-5">
      <%= line_chart @calories, points: false %>
    </div>
    <% if user_signed_in? %>
      <%= render "share_chart" %>
    <% end %>
  </div>
</div>
